.App {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.modal {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: white;
  /* position: fixed; */
}
/* Dark overlay behind modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;               /* centers the modal box */
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Modal box */
.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1.1rem;
}

input {
  font-size: 1rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
}


.submit-button {
  background-color: skyblue;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
}
/* Dark overlay behind modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;               /* centers the modal box */
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Modal box */
.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}


form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1.1rem;
}

input {
  font-size: 1rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
}


.submit-button {
  background-color: skyblue;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
}
